.idea/inspectionProfiles/profiles_settings.xml
.idea/workspace.xml
.idea/IFT6759.iml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/*
.local
.cache
.data/hdf5v5_16bit/*.h5
.jupyterhub*
.bash*
.python_history
.elinks
.ipynb_checkpoints
.ipython*
.jupyter
.keras
.licenses
__pycache__
*.h5
ift6759-env
my_tf_env
Outputs

