.idea/inspectionProfiles/profiles_settings.xml
.idea/workspace.xml
.idea/IFT6759.iml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/*
.data/hdf5v5_16bit/*.h5
*.h5
test_1.py
*.nc
data/catalog.helios.public.20100101-20160101.pkl
data/dummy_test_catalog.pkl
data/dummy_test_cfg.json
